[Unit]
Description=Ravish Chawla
After=network.target
[Service]
ExecStart=/home/pi/ravishchawla.github.io/Server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ravishchawla.github.io/
[Install]
WantedBy=multi-user.target