<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ravish Chawla Profile</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>	
	<!-- Site header and navigation -->
<div id="wrap">	
			<div class="header" role="header" id="header">
</div>

	<div class="middle body">
		<div id="pdfcontainer" class="visible-sm-block visible-md-block visible-lg-block" width="100%" height="100%"></div>
	<!--iframe src="http://mozilla.github.com/pdf.js/web/viewer.html?file=/files/Ravish_Chawla_resume.pdf" width="100%" height="100%" class="visible-sm-block visible-md-block visible-lg-block"></iframe-->
		<h3><a href="/files/Ravish_Chawla_resume.pdf" >Download</a></h3>
	</div>
	
	
	<div class="footer" role="footer">
		<div id="footer">
		</div>
</div>
	
	
</div>
	
</body>
</html>                                  		

<script src="/pdfjs/dist/pdfviewer.js"></script>
<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
